/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

.popular {
    &__inner {
        padding: 50px 150px;
    }
    &__item {
        flex-basis: 23%;
    }
}

.side{
    display: block;
}